@mixin flex ($align, $justify, $direction : row ){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: wrap;
}

@mixin square ($width, $height,$fontsize,$bordersize){
    @include flex(center,center);
    background-color: rgba(100,100,100,0.1);
    border: $bordersize solid magenta;
    width: $width;
    height: $height;
    font-size: $fontsize;
    color: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin : 0;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    @include flex(center,center);
    background-color: black;
}
.game{
    @include flex(center,center,row-reverse);
    gap: 10px;
}
.reset{
    margin-bottom: 5px;
    border: none;
    background : none;
    i{
        color: white;
        font-size: 2rem;
    }
}
.history{
    color: white;
    @include flex(center,center ,column);
}
.buttonHistory{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    border : 1px solid aqua;

    width: 310px;
    height: 310px;
}
.outside{
    color: white;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.board{
    @include flex(center,center);
    width: 612px;
    height: 612px;
    background-color: rgba(100,100,100,0.1);
    border: 6px solid magenta;
    border-radius: 5px;
}
.min-square{
    @include square(94px,94px ,2rem,2px);
    @include flex(center,center);
    .tiny-square{
        @include square(30px,30px, 1rem ,1px);
    }
}
.square{
    @include square(200px,200px , 4rem, 5px);
}